.bg{
	background-image: url(clown.jpg);
}
.header-height {
	height: 50px;
}
.content-height {
	height: 700px;
}
.big-procent {
	height: 90%;
}
.lil-procent {
	height: 100px;
}
.med-height {
	height: 300px;
}
.big-lil {
	height: 180px;
}
.polovina {
	height: 50px;
}
.polovina2 {
	height: 45px;
}
.logo1 {
	width: 20px
}
.logo2 {
	width: 60px
}
.icon-width {
	width: 50px;
	height: 50px;
}